In [2]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [5]:
ser1=Series(np.arange(3),index=['a','b','c'])

ser1

a    0
b    1
c    2
dtype: int32

In [8]:
ser1.drop(['b'])

a    0
c    2
dtype: int32

In [9]:
ser1.drop('a')

b    1
c    2
dtype: int32

In [13]:
dframe=DataFrame(np.arange(12).reshape(3,4),index=['A','B','C'],columns=['Col1','Col2','Col3','Col4'])

dframe

   Col1  Col2  Col3  Col4
A     0     1     2     3
B     4     5     6     7
C     8     9    10    11

In [14]:
dframe.drop('A')

   Col1  Col2  Col3  Col4
B     4     5     6     7
C     8     9    10    11

In [16]:
dframe

   Col1  Col2  Col3  Col4
A     0     1     2     3
B     4     5     6     7
C     8     9    10    11

In [17]:
#Drop the index perminently
dfram1=dframe.drop('A')

In [21]:
print (dfram1)
dframe

   Col1  Col2  Col3  Col4
B     4     5     6     7
C     8     9    10    11

   Col1  Col2  Col3  Col4
A     0     1     2     3
B     4     5     6     7
C     8     9    10    11

In [24]:
#drop Column
dfram1.drop('Col2',axis=1)

   Col1  Col3  Col4
B     4     6     7
C     8    10    11

In [30]:
dfram1.drop('Col3',axis=1)

   Col1  Col2  Col4
B     4     5     7
C     8     9    11