In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
dframe=pd.read_csv('Lec25_Reading and Writing Text Files.csv')
dframe

     A    B    C    D   APPLE
0   11   21   31   41    PEAR
1    f    g    h    i  Rabbit
2  121  221  321  421     DOG

In [8]:
dframe1=pd.read_csv('Lec25_Reading and Writing Text Files.csv',header=None)
dframe1

     0    1    2    3       4
0    A    B    C    D   APPLE
1   11   21   31   41    PEAR
2    f    g    h    i  Rabbit
3  121  221  321  421     DOG

In [10]:
dframe2=pd.read_table('Lec25_Reading and Writing Text Files.csv',',')
dframe2

     A    B    C    D   APPLE
0   11   21   31   41    PEAR
1    f    g    h    i  Rabbit
2  121  221  321  421     DOG

In [12]:
dframe2=pd.read_csv('Lec25_Reading and Writing Text Files.csv',header=None,nrows=1)

dframe2

   0  1  2  3      4
0  A  B  C  D  APPLE

In [13]:
dframe

     A    B    C    D   APPLE
0   11   21   31   41    PEAR
1    f    g    h    i  Rabbit
2  121  221  321  421     DOG

In [15]:
dframe2.to_csv('Lec25_OutFile.txt')
dframe2.to_csv('Lec25_OutFile.csv')

In [16]:
import sys

In [17]:
dframe.to_csv(sys.stdout)

,A,B,C,D,APPLE
0,11,21,31,41,PEAR
1,f,g,h,i,Rabbit
2,121,221,321,421,DOG

In [19]:
dframe.to_csv(sys.stdout,sep='_')

_A_B_C_D_APPLE
0_11_21_31_41_PEAR
1_f_g_h_i_Rabbit
2_121_221_321_421_DOG

In [20]:
dframe.to_csv(sys.stdout,sep='?')

?A?B?C?D?APPLE
0?11?21?31?41?PEAR
1?f?g?h?i?Rabbit
2?121?221?321?421?DOG

In [24]:
dframe.to_csv(sys.stdout,columns=[0,1,2])

KeyError: 'None of [[0, 1, 2]] are in the [columns]'

In [25]:
url='https://docs.python.org/2/library/csv.html'

In [27]:
import webbrowser as wb

In [28]:
wb.open(url)

True