In [1]:
import pandas as pd

In [2]:
#install the following from command prompt

#conda install xlrd (OR) pip instal xlrd
#conda install openpyxl (OR) pip instal openpyxl

In [3]:
excel_obj=pd.ExcelFile('Lec28_Excel with Python.xlsx')

In [4]:
excel_obj

In [8]:
dframe=excel_obj.parse('Sheet1')

dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        3343         322
1             232          43         443
2             223           9          33
3            8932        2323      902903
4               2       42423     3232343