In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
#import pandas testing utility

import pandas.util.testing as tm; tm.N=3

#create a unpivoted function
def unpivot(frame):
    N, K =frame.shape
    data ={'value' : frame.values.ravel('F'),
           'variable':np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index),K)}
    #Return the DataFrame
    return DataFrame(data, columns=['date','variable','value'])

#Set the DataFrame we will be using
dframe=unpivot(tm.makeTimeDataFrame())

In [3]:
dframe

         date variable     value
0  2000-01-03        A -1.401815
1  2000-01-04        A  1.504010
2  2000-01-05        A  0.312597
3  2000-01-03        B -1.078241
4  2000-01-04        B -0.153786
5  2000-01-05        B  0.023243
6  2000-01-03        C  2.306253
7  2000-01-04        C -0.483750
8  2000-01-05        C -0.829316
9  2000-01-03        D -0.059335
10 2000-01-04        D  0.001294
11 2000-01-05        D  1.043816

In [5]:
dframe_piv=dframe.pivot('date','variable','value')
dframe_piv

variable           A         B         C         D
date
2000-01-03 -1.401815 -1.078241  2.306253 -0.059335
2000-01-04  1.504010 -0.153786 -0.483750  0.001294
2000-01-05  0.312597  0.023243 -0.829316  1.043816